.var{
    color: blue;
    font-weight:bold;
}
.string{
    color: green;
    font-weight:bold;
}
.res{
    color: #008080;
    font-weight:bold;
}
.err{
    color: #ff0000;
    font-weight:bold;
}
.method{
    color: #ff8000;
}